<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Project name</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="css/bootstrap.css" rel="stylesheet" media="screen">
		<style>
		
		.user-option{
			margin-top: 50px;
			margin-bottom: 50px;
			text-align: center;
		}
		.user-option button{
			width: 250px;
			height: 50px;
			font-size: 30px;
		}		
		
		.main-panels .tab-pane{
			position: absolute;
			top: 71px;
			left: 0px;
			right: 0px;
			bottom: 0px;
			z-index: -1;
		}
		
		.main-nav > li > a {
			border-radius: 0;
			font-size: 16px;
			padding:15px 0 15px 0;
			width:90px;
			text-align:center;
		}
		
		#navBar {
			border-bottom: 1px solid #428BCA;;
		}
		
		#loginModal {
		}
		
		#settingModal {
			*min-height:500px;
		}
		
		#sellerPanel {
			*min-height:500px;
		}
		
		.list {
			list-style: none outside none;
			margin: 0;
		}
		
		@media (min-width: 1200px) {
			.modal-dialog-large {
				width: 1170px;
			}
		}
		@media (min-width: 980px) and (max-width: 1199px) {
			.modal-dialog-large {
				width: 940px;
			}
		}
		
		@media (min-width: 768px) and (max-width: 979px) {
			.modal-dialog-large {
				width: 728px;
			}
		}
		
		@media (max-width: 767px) {
			.main-panels .tab-pane{
				top: 51px;
				z-index: -1;
			}
			
			.main-nav > li > a {
				padding:10px 0 10px 0;
				font-size: 18px;
				line-height: 30px;
				width:50px;
			}
			
			.container {
				padding-left: 0;
				padding-right: 0;
			}
			
			.navbar-nav > li {
				float: left;
			}
			
			.navbar-nav {
				margin: 0;
			}
			.modal {
			 overflow:hidden;
			}
			
			.modal-dialog {
				position: absolute;
				top: 10px;
				bottom: 10px;
				right: 10px;
				left: 10px;
				padding:0;
			}
			
			.modal-content {
				height:100%
			}
			
			.modal-header {
				position: absolute;
				top: 0;
				right: 0;
				left: 0;
				height:60px
			}
			
			.modal-body {
				position: absolute;
				top: 60px;
				right: 0;
				left: 0;
				bottom:60px;
			}
			
			.modal-footer {
				margin:0;
				padding:0;
				position: absolute;
				height:60px;
				right: 0;
				left: 0;
				bottom:0;
			}
			
			.close {
				font-size:40px;
			}
		}
		</style>
	<link href="css/main.css" rel="stylesheet">
	<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
	</head>
	<body>
		<div id="navBar" style="background-color:#FFFFFF" class="navbar navbar-fixed-top">
			<div class="container">
				<div>
					<a class="navbar-brand" href="#">YOUCON</a>
					<ul id="userNav" class="main-nav nav nav-pills navbar-nav pull-right" style="display:none;">
						<li class="active"> <!-- Map Tab -->
							<a href="#mapPanel" data-toggle="tab">
								<span class="glyphicon glyphicon-map-marker"></span>
								<span class="hidden-xs">地圖</span>
							</a>
						</li>
						<li> <!-- Trace Panel Tab -->
							<a href="#tracePanel" data-toggle="tab">
								<span class="glyphicon glyphicon-list-alt"></span>
								<span class="hidden-xs">追蹤清單</span>
							</a>
						</li>
						<li> <!-- Seller Panel Tab -->
							<a href="#sellerPanel" data-toggle="tab">
								<span class="glyphicon glyphicon-home"></span>
								<span class="hidden-xs">我的商店</span>
							</a>
						</li>
						<li> <!-- User Panel Tab -->
							<a href="#userPanel" data-toggle="tab">
								<span class="glyphicon glyphicon-user"></span>
								<span id="navUsername" class="hidden-xs"></span>
							</a>
						</li>
					</ul>
					<ul id="guestNav" class="main-nav nav navbar-nav pull-right">
						<li>
							<a href="#regModal" data-toggle="modal">
								<div class="hidden-xs">
									<span class="glyphicon glyphicon-user"></span>
									<div>註冊</div>
								</div>
								<div class="visible-xs" >註冊</div>
							</a>
						</li>
						<li>
							<a href="#loginModal" data-toggle="modal">
								<div class="hidden-xs">
									<span class="glyphicon glyphicon-log-in"></span>
									<div>登入</div>
								</div>
								<div class="visible-xs" >登入</div>
							</a>
						</li>
					</ul>
					<div style="clear:both"></div>
				</div>
			</div>
			<div id="accountCollapse" class="collapse container">
				<ul style="background-color:#FFFFFF" class="nav nav-stacked pull-right">
					<li><a data-toggle="tab" href="#settingPanel">設定<i class="glyphicon glyphicon-cog"></i></a></li>
					<li><a id="logoutBtn" href="#">登出</a></li>
				</ul>
			</div>
		</div>
		
		<!--Login modal -->
		<div id="loginModal" class="modal fade" tabindex="-1">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h4 class="modal-title">會員登入</h4>
					</div>
					<div class="modal-body">
						<div class="form-horizontal">
							<div class="form-group">
								<label class="col-lg-3 control-label">Email</label>
								<div class="col-lg-7">
									<input type="text" class="form-control" id="loginEmail" placeholder="Email">
								</div>
							</div>
							<div class="form-group">
								<label class="col-lg-3 control-label">密碼</label>
								<div class="col-lg-7">
									<input type="password" class="form-control" id="loginPassword" placeholder="Password">
									<div class="checkbox">
										<label>
											<input type="checkbox"> 記得我
										</label>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button class="btn btn-default" data-dismiss="modal" aria-hidden="true">關閉</button>
						<button class="btn btn-primary" id="loginBtn">登入</button>
					</div>
				</div><!-- /.modal-content -->
			</div><!-- /.modal-dialog -->
		</div><!-- /.modal -->
		
		<!--Registration modal -->
		<div id="regModal" class="modal fade" tabindex="-1">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h4 class="modal-title">會員註冊</h4>
					</div>
					<div class="modal-body">
						<div class="form-horizontal">
							<div id="regEmailField" class="form-group">
								<label class="col-lg-3 control-label">帳號/Email</label>
								<div class="col-lg-6">
									<input type="text" class="form-control" id="regEmail" placeholder="使用E-mail作為您的帳號">
								</div>
								<span class="col-lg-3 help-block msg-error"></span>
							</div>
							<div id="regUsernameField" class="form-group">
								<label class="col-lg-3 control-label">名稱</label>
								<div class="col-lg-6">
									<input type="text" class="form-control" id="regUsername" placeholder="最多填入20個字元">
								</div>
								<span class="col-lg-3 help-block msg-error"></span>
							</div>
							<div id="regPasswordField" class="form-group">
								<label class="col-lg-3 control-label">密碼</label>
								<div class="col-lg-6">
									<input type="password" class="form-control" id="regPassword" placeholder="請輸入8到16個字元">
								</div>
								<span class="col-lg-3 help-block msg-error"></span>
							</div>
							<div id="regPasswordConfirmField" class="form-group">
								<label class="col-lg-3 control-label">確認密碼</label>
								<div class="col-lg-6">
									<input type="password" class="form-control" id="regPasswordConfirm" placeholder="">
								</div>
								<span class="col-lg-3 help-block msg-error"></span>
							</div>
							<div class="form-group">
								<div class="col-lg-3 col-lg-offset-3">
									<img id="regCaptchaImage">
								</div>
								<div class="col-lg-3">
									<button class="btn btn-default" id="refreshCaptcha"><i class="glyphicon glyphicon-refresh"></i></button>
								</div>
							</div>
							<div id="regCaptchaField" class="form-group">
								<label class="col-lg-3 control-label">驗證碼</label>
								<div class="col-lg-6">
									<input class="form-control" type="text" id="regCaptcha" placeholder="">
								</div>
								<span class="col-lg-3 help-block msg-error"></span>
							</div>
							<div id="regAgreeField" class="form-group">
								<label class="col-lg-3 control-label" for="regCaptcha"></label>
								<div class="col-lg-9">
									<label class="checkbox">
										<input id="regAgree" type="checkbox">
										<span class="help-block">我已經詳細閱讀並同意xxx服務條款</span>
									</label>
								</div>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button class="btn btn-default" data-dismiss="modal" aria-hidden="true">關閉</button>
						<button class="btn btn-primary" id="registerBtn" data-loading-text="註冊中...">註冊</button>
					</div>
				</div><!-- /.modal-content -->
			</div><!-- /.modal-dialog -->
		</div><!-- /.modal -->
		
		<!--Seller Panel-->
		<div id="sellerPanel2" class="modal fade" tabindex="-1">
			<div class="modal-dialog modal-dialog-large">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h4 class="modal-title"><img src="img/setting.png" style="vertical-align:bottom;width:130px;height:130px;">SHOP</h4>
						<div></div>
					</div>
					<div class="modal-body">
						<div style="display:none;" class="row">
							<div class="col-lg-2">
								<ul class="nav nav-pills nav-stacked" id="sellerTabs">
									<li class="active">
										<a id="myItemsTab" href="#myItemsPanel" data-toggle="tab">我的商品</a>
									</li>
									<li>
										<a id="myShopTab" href="#myShopPanel" data-toggle="tab">我的店面</a>
									</li>
								</ul>
							</div>
							<div class="col-lg-10" style="margin-left:0;min-height:400px;max-height:800px;">
								<div class="tab-content">
									<div class="tab-pane active" id="myItemsPanel">
										<div class="btn-toolbar">
											<div class="btn-group">
												<button type="button" class="btn btn-primary" data-target="#createItemPanel" data-toggle="modal">新增商品 <span class="glyphicon glyphicon-plus"></span></button>
											</div>
											<div class="btn-group" data-toggle="buttons">
												<label id="myItemsShowList" class="btn btn-info active">
													<input type="radio" name="myItemsDisplay"><i class="glyphicon glyphicon-th-list"></i>
												</label>
												<label id="myItemsShowTable" class="btn btn-info">
													<input type="radio" name="myItemsDisplay"><i class="glyphicon glyphicon-th"></i>
												</label>
											</div>
										</div>
										<div>
											<ul id="myItemsList" class="items items-list">
											</ul>
										</div>
									</div>
									<div class="tab-pane" id="myShopPanel">
										<div class="btn-toolbar">
											<div class="btn-group">
												<button type="button" class="btn btn-primary">??<span class="glyphicon glyphicon-plus"></span></button>
											</div>
										</div>
										<div>
											<div>
												
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div><!-- /.modal-body -->
					<div class="modal-footer">
						<!--<div style="float:left;height:100%;width:25%;border-right:1px solid #ddd;"></div>
						<div style="float:left;height:100%;width:25%;border-right:1px solid #ddd;"></div>
						<div style="float:left;height:100%;width:25%;border-right:1px solid #ddd;"></div>
						<div style="float:left;height:100%;width:25%;">
						</div>-->
					</div>
				</div><!-- /.modal-content -->
			</div><!-- /.modal-dialog -->
		</div><!-- /.modal -->

		<!--Create Item Panel-->
		<div id="createItemPanel" class="modal fade" tabindex="-1">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h4 class="modal-title">新增商品</h4>
					</div>
					<div class="modal-body">
						<div class="form-horizontal">
							<div class="form-group">
								<label class="col-lg-2 control-label" for="createItemPic">圖片</label>
								<div class="col-lg-8">
									<div id="newItemImages">
										<div class="" style="float:left;width:100px;height:100px">
											<input class="single" type="file" name="0">
											<div class="preview-image"></div>
										</div>
										<div style="float:left;width:100px;height:100px;">
											<input type="file" name="1">
											<div class="preview-image"></div>
										</div>
										<div style="float:left;width:100px;height:100px;">
											<input type="file" name="2">
											<div class="preview-image"></div>
										</div>
										<div style="clear:both;"></div>
									</div>
								</div>
							</div>
							<div class="form-group" id="createItemNameField">
								<label class="col-lg-2 control-label" for="createItemName">品名*</label>
								<div class="col-lg-8">
									<input type="text" class="form-control" id="createItemName" placeholder="">
								</div>
								<span class="col-lg-3 help-block msg-error"></span>
							</div>
							<div class="form-group" id="createItemPriceField">
								<label class="col-lg-2 control-label" for="createItemPrice">價格*</label>
								<div class="col-lg-8">
									<input type="text" class="form-control num-only" id="createItemPrice" placeholder="">
								</div>
								<span class="col-lg-3 help-block msg-error"></span>
							</div>
							<div class="form-group">
								<label class="col-lg-2 control-label">新舊</label>
								<div class="col-lg-8 btn-group" data-toggle="buttons">
									<label class="btn btn-info active">
										<input type="radio" name="conditionAttr" value="1">全新
									</label>
									<label class="btn btn-info">
										<input type="radio" name="conditionAttr" value="2">二手品
									</label>
								</div>
							</div>
							<div class="form-group">
								<label class="col-lg-2 control-label">尺寸</label>
								<div class="col-lg-8 btn-group" data-toggle="buttons">
									<label class="btn btn-info active">
										<input type="radio" name="sizeAttr" value="3">口袋小物
									</label>
									<label class="btn btn-info">
										<input type="radio" name="sizeAttr" value="4">背包可裝
									</label>
									<label class="btn btn-info">
										<input type="radio" name="sizeAttr" value="5">機車可載
									</label>
									<label class="btn btn-info">
										<input type="radio" name="sizeAttr" value="6">須開車
									</label>
								</div>
							</div>
							<div class="form-group" id="createItemDescField">
								<label class="col-lg-2 control-label">商品描述</label>
								<div class="col-lg-8">
									<textarea id="createItemDesc" class="form-control" rows="3"></textarea>
								</div>
								<span class="col-lg-3 help-block msg-error"></span>
							</div>
							<div class="form-group">
								<label class="col-lg-2 control-label">商品分類</label>
							</div>
							<div class="row" id="createItemCategory">
							</div>
						</div>
					</div><!-- /.modal-body -->
					<div class="modal-footer">
						<button class="btn btn-default" data-dismiss="modal" aria-hidden="true">取消</button>
						<button class="btn btn-primary" id="createItemSubmit">確定</button>
					</div>
				</div><!-- /.modal-content -->
			</div><!-- /.modal-dialog -->
		</div><!-- /.modal -->
		
		<div id="shopModal" class="modal fade" tabindex="-1">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h4><span class="glyphicon glyphicon-edit"></span>編輯店面資訊</h4>
					</div>
					<div class="modal-body">
						<div class="form-horizontal">
							<div class="form-group">
								<label class="col-sm-3 control-label">商店名稱</label>
								<div class="col-sm-7">
									<input type="text" class="form-control" id="shopName" placeholder="">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">商店地址</label>
								<div class="col-sm-7">
									<input type="text" class="form-control" id="shopAddress" placeholder="">
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-7 col-sm-offset-3" style="height:300px;" id="shopMap"></div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">商店介紹</label>
								<div class="col-sm-7">
									<textarea class="form-control" rows="3"></textarea>
								</div>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default">
							取消
						</button>
						<button type="button" class="btn btn-primary">
							確認
						</button>
					</div>
				</div>
			</div>
		</div>
		
		<!-- Q&A Why Email Verification Modal -->
		<div id="infoEmailModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h4 class="modal-title">為什麼要信箱認證?</h4>
					</div>
					<div class="modal-body">
						<img src="http://www.marketingpugetsound.com/wp-content/uploads/2013/01/Email-icon-square.png" class="img-rounded" width="200px" height="200px">				
						<dl>
						  <dt>信箱認證之後你可以...</dt>
						  <dd>透過站內聊天系統與賣家聯繫</dd>
						  <dd>保護你的帳號，忘記密碼時可由認證信箱取得新密碼‧</dd>
						</dl>				
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">關閉</button>
						<button id="sendVerifyEmail" type="button" class="btn btn-primary">寄發認證信</button>
					</div>
				</div><!-- /.modal-content -->
			</div><!-- /.modal-dialog -->
		</div><!-- /.modal -->		
		
		<!--Setting modal -->
		<div id="settingModal" class="modal fade" tabindex="-1">
			<div class="modal-dialog modal-dialog-large">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h4 class="modal-title">帳號設定</h4>
					</div>
					<div class="modal-body">
						<div class="panel panel-default">	<!-- photo -->
							<div class="panel-heading">
								<h3 class="panel-title" style="display: inline">照片</h3>
								<button id="photo-edit" class="btn btn-default btn-xs" type="button" style="float: right">
									<a class="glyphicon glyphicon-edit" style="color: black">Edit</a>
								</button>
							</div>
							<div class="panel-body"> 
								<div class="col-lg-10" id="oldphoto-panel">	<!-- old photo -->
									<img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAH0AAAB9CAYAAACPgGwlAAACCklEQVR4nO3XMW7EIBQA0dz/KHR0bujoXLr3EbgCqT5yNl4lhSWbnSmmQdoviyew96u11o3V190PYKKb6Ca6iW6im+gmuolOTnRgogMTHZjowEQHJjow0YGJDkx0YKIDEx2Y6MBEByY6MNGBiQ5MdGCiAxMdmOjARAcmOjDRgYkOTHRgogMTHZjowEQHJjow0YGJDkx0YKIDEx2Y6MBEByY6MNGBiQ5MdGCiAxMdmOjARAcmOjDRgYkObDr0WmtPKf1a37atp5R6rXWs5Zx7SqmnlPq+74+Y/4SmQg+QM5QACJRaa88599ZaL6X0ZVlun/+UpkEPkNj8d1iBknPupZTeWuvruo7TuCzL+H0pZaxfNf/uffo49G3bBlSsx7UbG/8Xyr7vP3CPJ/eK+Xfv00ehR68oOedeax2Y/0GJk3t2JV8x/+lNjR6n8LV4375DiRln7+4r5j+9qdGPvZ7EUsrph9bxKzylNOCumj9DH4ve2vlfquO1HvDrul42f4amQzfRTXQT3UQ30bGJDkx0YKIDEx2Y6MBEByY6MNGBiQ5MdGCiAxMdmOjARAcmOjDRgYkOTHRgogMTHZjowEQHJjow0YGJDkx0YKIDEx2Y6MBEByY6MNGBiQ5MdGCiAxMdmOjARAcmOjDRgYkOTHRgogMTHZjowEQHJjow0YGJDkx0YKIDEx2Y6MC+Ac7AmJBH0NO6AAAAAElFTkSuQmCC" alt="..." class="img-thumbnail">
								</div>
								<div class="col-lg-10" id="newphoto-panel" style="display: none">	<!-- new photo -->
									<input type="file" name="photo">
									<button id="photo-submit" type="submit" class="btn btn-primary btn-sm" style="margin-top: 10px">上傳照片</button>
								</div>
							</div>
						</div>
						<div class="panel panel-default">	<!-- email -->
							<div class="panel-heading">
								<h3 class="panel-title" style="display: inline">帳號/Email</h3>
								<button id="email-edit" class="btn btn-default btn-xs" type="button" style="float: right">
									<a class="glyphicon glyphicon-edit" style="color: black">Edit</a>
								</button>
							</div>
							<div class="panel-body"> 
								<div id="oldemail-panel" class="col-lg-10">	<!-- old email -->
									<p id="oldeamil" class="form-control-static">sq0032@gmail.com</p>
								</div>
								<div id="newemail-panel" class="form-horizontal" style="display: none">	<!-- new email -->
									<div class="form-group">
										<label class="col-lg-3 control-label" for="settingEmail">新Email帳號</label>
										<div class="col-lg-6">
											<input type="email" class="form-control" id="settingEmail" placeholder="New Email">
										</div>
									</div>
									<div class="form-group">
										<div class="col-lg-offset-3 col-lg-3">
											<button type="submit" class="btn btn-primary btn-sm">修改Email</button>
										</div>
									</div>
								</div>
							</div>
							<div class="panel-footer">
								<p class="text-danger">信箱未認證<a data-toggle="modal" href="#infoEmailModal" style="float: right">為什麼要認證?</a></p>
							</div>
						</div>
						<div class="panel panel-default">	<!-- name -->
							<div class="panel-heading">
								<h3 class="panel-title" style="display: inline">名稱</h3>
								<button id="name-edit" class="btn btn-default btn-xs" type="button" style="float: right">
									<a class="account-edit glyphicon glyphicon-edit" style="color: black">Edit</a>
								</button>
							</div>
							<div class="panel-body"> 
								<div id="oldname-panel" class="col-lg-10" >	<!-- oldname -->
									<p id="oldname" class="form-control-static"></p>
								</div>	
								<div id="newname-panel" class="col-lg-10"  style="display: none"> <!-- newname -->
									<p>名稱為網路身分識別所用，因此不提供使用者修改‧</p>
								</div>				
							</div>
						</div>
						<div class="panel panel-default">	<!-- password -->
							<div class="panel-heading">
								<h3 class="panel-title" style="display: inline">密碼</h3>
								<button id="password-edit" class="btn btn-default btn-xs" type="button" style="float: right">
									<a class="account-edit glyphicon glyphicon-edit" style="color: black">Edit</a>
								</button>
							</div>
							<div class="panel-body"> 
								<div class="col-lg-10" id="oldpass-panel"> <!-- old password -->
									<p class="form-control-static">********</p>
								</div>
								<div id="newpass-panel" class="form-horizontal" style="display: none"> <!--new password-->
									<div class="form-group">
										<label class="col-lg-3 control-label" for="settingPassword">舊密碼</label>
										<div class="col-lg-6">
											<input type="password" class="form-control" id="settingPassword" placeholder="">
										</div>
									</div>
									<div class="form-group">
										<label class="col-lg-3 control-label" for="settingNewPassword">新密碼</label>
										<div class="col-lg-6">
											<input type="password" class="form-control" id="settingNewPassword" placeholder="">
										</div>
									</div>
									<div class="form-group">
										<label class="col-lg-3 control-label" for="settingNewPassword2">確認新密碼</label>
										<div class="col-lg-6">
											<input type="password" class="form-control" id="settingNewPassword2" placeholder="">
										</div>
									</div>
									<div class="form-group">
										<div class="col-lg-offset-3 col-lg-10">
											<button type="submit" class="btn btn-primary btn-sm">修改密碼</button>
										</div>
									</div>
								</div>
							</div>
						</div>	
					</div>
				</div><!-- /.modal-content -->
			</div><!-- /.modal-dialog -->
		</div><!-- /.modal -->			
		
		<!-- Main Panels -->
		<div class="main-panels tab-content">
			<div class="tab-pane fade" id="mapPanel">	<!-- Map Panels -->
				<p>mapPanel</p>
			</div>	
			<div class="tab-pane fade" id="tracePanel">	<!-- Trace Panel -->
				<p>tracePanel</p>
			</div>		
			<div class="tab-pane active fade in" id="sellerPanel"> <!-- Seller Panel -->
				<div class="container">
					<div sytle="text-align:center;">
						<div class="btn-group">
							<button type="button" class="btn btn-default"> <!-- 開始營業 -->
								<span style="display:block;font-size: 24px;" class="glyphicon glyphicon-play"></span>
								開始營業
							</button>
							<button type="button" class="btn btn-default" href="#shopModal" data-toggle="modal"> <!-- 編輯店面 -->
								<span style="display:block;font-size: 24px;" class="glyphicon glyphicon-edit"></span>
								編輯店面
							</button>
							<button type="button" class="btn btn-default" href="#createItemPanel" data-toggle="modal"> <!-- 商品上架 -->
								<span style="display:block;font-size: 24px;" class="glyphicon glyphicon-cloud-upload"></span>
								商品上架
							</button>
							<button type="button" class="btn btn-default"> <!-- 最新消息 -->
								<span style="display:block;font-size: 24px;" class="glyphicon glyphicon-exclamation-sign"></span>
								最新消息
							</button>
						</div>
					</div>
				</div>
			</div>
			<div class="tab-pane fade" id="userPanel">  <!--User Panel -->
				<div>
					<div class="user-option">
						<a href="#settingModal" data-toggle="modal">
							<button id="testbtn" type="button">帳號設定</button>
						</a>
					</div>
					<div class="user-option">
						<a href="#">
							<button id="testbtn" type="button">交易紀錄</button>
						</a>
					</div>
					<div class="user-option">
						<a href="#">
							<button id="testbtn" type="button">我的評價</button>
						</a>
					</div>
				<div>
			</div>	
		</div>
		
		
		
		{% csrf_token %}
		<!--<script src="js/less-1.3.3.min.js"></script>-->
		<script src="http://code.jquery.com/jquery.js"></script>
		
		<script src="js/vendor/jquery.ui.widget.js"></script>
		
		<script src="http://blueimp.github.io/JavaScript-Load-Image/js/load-image.min.js"></script>
		<script src="js/jquery.iframe-transport.js"></script>
		<script src="js/jquery.fileupload.js"></script>
		<script src="js/jquery.fileupload-process.js"></script>
		<script src="js/jquery.fileupload-image.js"></script>
		
		<script src="js/bootstrap.js"></script>
		<!-- <script src="js/bootstrap.min.js"></script> -->
		<script src="js/underscore-min.js"></script>
		<script src="js/backbone-min.js"></script>
		<script src="js/main.js"></script>
		<script type="text/javascript">

		var User = Backbone.Model.extend({
			urlRoot:'accounts/users/'
		});
		
		var Item = Backbone.Model.extend({
			urlRoot:'shops/items/'
		});
		
		var Items = Backbone.Collection.extend({
			model : Item,
		});
		
		var loginUser = new User();
		loginUser.url  = 'accounts/users/i';
		
		var myItems = new Items();
		myItems.url = 'shops/items/i/';
		
		var shopModalView = Backbone.View.extend({
			el: $("#shopModal"),
			events: {
			},
			initialize: function(){
				var latlng = new google.maps.LatLng(23.973875,120.982024);
				var mapOptions = {
					zoom: 10,
					center: latlng,
					mapTypeId: google.maps.MapTypeId.ROADMAP
				};
				
				this.map = new google.maps.Map(this.$('#shopMap')[0],mapOptions);
				this.marker = new google.maps.Marker({
					draggable:true,
					position: latlng,
					title:"台灣 Taiwan",
					map:this.map
				}); 
			}
			
		});
		
		var createItemPanelView = Backbone.View.extend({
			el: $("#createItemPanel"),
			events: {
				"show.bs.modal": "showPanel",
				"click #createItemSubmit": "submit",
				"change #createItemName": "checkItemName",
				"change #createItemPrice": "checkItemPrice",
				"change #createItemDesc": "checkItemDesc",
				"keydown #createItemPrice": "checkKeyNumber",
			},
			initialize: function() {
				var that = this;
				this.field = {
					name: this.$('#createItemNameField'),
					price: this.$('#createItemPriceField'),
					describe: this.$('#createItemDescField'),
				}
				this.files = {};
				this.itemImages = this.$("#newItemImages");
				this.itemImages.find('input:file').fileupload({
					autoUpload: false,
					singleFileUploads:true,
					previewMaxWidth: 100,
					previewMaxHeight: 75,
				}).on('fileuploadadd',function(e, data){
					var index = $(this).attr('name');
					that.files[index] = data;
					console.log(that.files);
				}).on('fileuploadprocessalways',function(e,data){
					var index = data.index,
						file = data.files[index];
					$(this).parent().find(".preview-image").empty().append(file.preview);
				});
				
				this.itemPreview = this.$('#itemPreview');
				this.createItemName = this.$('#createItemName');
				this.createItemPrice = this.$('#createItemPrice');
				this.createItemDesc = this.$('#createItemDesc');
				this.itemConditionAttr = this.$('input:radio[name=conditionAttr]');
				this.itemSizeAttr = this.$('input:radio[name=sizeAttr]');
				this.createItemCategory = this.$('#createItemCategory');
				this.categorys = [];
				
				$.getJSON('shops/item-categorys').done(function(data){
					var category;
					for(var i in data){
						category = data[i];
						that.categorys[category.id] = category;
					}					
				});
				
				/*
				this.ItemPic = this.$("#createItemPic").fileupload({
					autoUpload: false,
					singleFileUploads:true,
					progressall: function (e, data) {
						var progress = parseInt(data.loaded / data.total * 100, 10);
						$('#progress .bar').css('width',progress + '%');
					},
					disableImageResize: /Android(?!.*Chrome)|Opera/
						.test(window.navigator.userAgent),
					previewMaxWidth: 100,
					previewMaxHeight: 75,
					previewCrop: true
				}).on('fileuploadadd',function(e, data){
					that.files.push(data);
					console.log()
				}).on('fileuploadprocessalways',function(e, data){
					var index = data.index,
						file = data.files[index];
					that.itemPreview.append($('<div class="col-lg-2">').append($('<a href="#" class="thumbnail">').append(file.preview)));
					console.log(data)
				});
				*/
				
			},
			showError: function(fieldName, msg){
				var $field = this.field[fieldName];
				if(!$field){return;}
				$field.addClass('has-error');
				if(msg){$field.find('.msg-error').text(msg);}
			},
			clearError: function(fieldName){
				var $field = this.field[fieldName];
				$field.removeClass('has-error');
				$field.find('.msg-error').text('');
			},
			checkItemName: function(){
				var view = this;
				var name = this.createItemName.val();
				if(name.length==0){
					view.showError('name', '名稱不可空白');
				}else{
					view.clearError('name');
				}
			},
			checkItemPrice:	function(){
				var view = this;
				var price = this.createItemPrice.val();
				if(price.length==0){
					view.showError('price', '價錢不可空白');
				}else{
					view.clearError('price');
				}
			},
			checkKeyNumber: function(event){
				 // Allow: backspace, delete, tab, escape, and enter
				 console.log(event.keyCode);
				if ( event.keyCode == 46 || event.keyCode == 8 || event.keyCode == 9 || event.keyCode == 27 || event.keyCode == 13 || 
					 // Allow: Ctrl+A
					(event.keyCode == 65 && event.ctrlKey === true) || 
					 // Allow: home, end, left, right
					(event.keyCode >= 35 && event.keyCode <= 39)) {
						 // let it happen, don't do anything
						 return;
				}
				else {
					// Ensure that it is a number and stop the keypress
					if (event.shiftKey || (event.keyCode < 48 || event.keyCode > 57) && (event.keyCode < 96 || event.keyCode > 105 )) {
						event.preventDefault(); 
					}
				}
			},
			checkItemDesc: function(){
				var view = this;
				var describe = this.createItemDesc.val();
				if(describe.length>100){
					view.showError('describe','敘述文字不可超過100字');
				}else{
					view.clearError('describe');
				}
			},
			showPanel:function(){
				var that = this;
				this.createItemName.val('');
				this.createItemPrice.val('');
				this.createItemDesc.val('');
				this.itemConditionAttr.parent().removeClass('active');
				this.itemConditionAttr.filter('[value=1]').prop('checked', true).parent().addClass('active');
				this.itemSizeAttr.parent().removeClass('active');
				this.itemSizeAttr.filter('[value=3]').prop('checked', true).parent().addClass('active');
				this.itemImages.find(".preview-image").empty();
				this.createItemCategory.empty().val(null);
				
				var select = $('<select>').attr('size','5').addClass('form-control');
				for(var i in this.categorys){
					var category = this.categorys[i];
					if(category.parent === null){
						select.append($('<option>').attr('value',category.id).html(category.name));
					}
				}
				$('<div>').addClass("col-lg-4").append(select).appendTo(this.createItemCategory);
				
				this.createItemCategory.change(function(event){
					var $target = $(event.target);
					var selected_id = $target.val();
					
					var child = that.categorys[selected_id].child;
					if(child.length == 0){
						//this.val = selected_id;
						that.createItemCategory.val(selected_id);
						return;
					}
					$target.parent().nextAll().remove();
					that.createItemCategory.val(null);
					
					var select = $('<select>').attr('size','5').addClass('form-control');
					for(var i in child){
						var id = child[i];
						var category = that.categorys[id];
						select.append($('<option>').attr('value',category.id).html(category.name));
					}
					$('<div>').addClass("col-lg-4").append(select).appendTo(this);
				});
				
				this.files = {};
			},
			submit:function(){
				console.log(this);
				var that = this;
				var name = this.createItemName.val();
				var price = parseInt(this.createItemPrice.val());
				var description = this.createItemDesc.val();
				var conditionAttr = this.itemConditionAttr.filter(':checked').val();
				var sizeAttr = this.itemSizeAttr.filter(':checked').val();
				var attrs = [parseInt(conditionAttr),parseInt(sizeAttr)];
				var category = this.createItemCategory.val();
				
				var newItem = new Item();
				newItem.set({
					name:name,
					price:price,
					description:description,
					attrs:attrs,
					category:category
				});
				
				newItem.save().done(function(){
					var item_id = newItem.get('id');
					var dfs = []
					for(var i in that.files){
						that.files[i].url = 'shops/upload/items/'+item_id+'/image/'+i;
						console.log(that.files[i]);
						dfs.push(that.files[i].submit())
					}
					console.log(dfs);
					that.files = {};
					that.$el.modal('hide');
					newItem.set({'name':newItem.get('name')+"(上傳圖片中)"});
					myItems.add(newItem);
					$.when.apply($, dfs).done(function(){
						myItems.fetch();
					});
					
				});
			}
		});
		
		var sellerPanelView = Backbone.View.extend({
			el: $("#sellerPanel"),
			events: {
				"show.bs.modal": "showPanel",
				"show.bs.tab #myItemsTab": "showItemsPanel",
				"show.bs.tab #myShopTab": "showShopPanel",
				"click #myItemsShowList": "listItems",
				"click #myItemsShowTable": "tableItems",
			},
			initialize: function() {
				this.listenTo(myItems, 'sync', this.updateItems);
				this.listenTo(myItems, 'add', this.updateItems);
				this.$myItemsPanel = this.$('#myItemsPanel');
				this.$myItemsList = this.$('#myItemsList');
			},
			tableItems:function(){
				this.$myItemsList.removeClass('items-list').addClass('items-table');
			},
			listItems:function(){
				this.$myItemsList.removeClass('items-table').addClass('items-list');
			},
			showItemsPanel:function(event){
				event.stopPropagation();
				myItems.fetch();
			},
			updateItems:function(){
				var $myItemsList = this.$myItemsList.empty();
				myItems.each(function(item){
					var $li = $('<li>').addClass('item');
					$('<div class="img">').html('<img style="height:100px" src="'+item.get('pic')+'">').appendTo($li);
					$('<div>').addClass('title').text(item.get('name')).appendTo($li);
					$('<div>').addClass('price').text(item.get('price')).appendTo($li);
					$('<div>').addClass('category').text(item.get('category')).appendTo($li);
					var $attrs = $('<div>').addClass('attribute').appendTo($li);
					var attrs = item.get('attrs');
					for(var i in attrs){
						$('<span>').addClass('label label-info').text(attrs[i]).appendTo($attrs);
					}
					$('<div>').addClass('description').text(item.get('description')).appendTo($li);
					$('<button class="close">&times;</button>').click(function(){
						console.log(item);
						confirm('確定要刪除"'+item.get('name')+'"?',function(result){
							if(result){
								item.destroy().done(function(){
									myItems.fetch();
								});
								
							}
						});
					}).appendTo($li);
					
					$myItemsList.append($li);
				});
			},
			showShopPanel:function(event){
				event.stopPropagation();
			},
			showPanel: function(event){
				myItems.fetch();
				console.log('show');
			}
		});
		
		var loginModalView = Backbone.View.extend({
			el: $("#loginModal"),
			events: {
				"show": "showModal",
				"click #loginBtn": "login",
			},
			initialize: function() {
				this.$('#loginEmail').val("");
				this.$('#loginPassword').val("");
			},
			showModal: function() {
				this.$('#loginPassword').val("");
			},
			login: function() {
				var that = this;
				var navBar = this.options.navBar;
				var email = this.$("#loginEmail").val();
				var password = this.$("#loginPassword").val();
				$.get('accounts/login',{email:email,password:password})
				.done(function(){
					console.log('login done!')
					loginUser.fetch();
					that.$el.modal('hide');
				}).fail(function(jqXHR, textStatus, errorThrown){
					alert('帳號或密碼錯誤!');
				});
			}
		});
		
		var regModalView = Backbone.View.extend({
			el: $("#regModal"),
			events: {
				"show.bs.modal": "showModal",
				"click #registerBtn": "register",
				"click #refreshCaptcha": "getCaptcha",
				"change #regEmail": "checkEmail",
				"change #regUsername": "checkUsername",
				"keyup #regPassword": "checkPassword",
				"keyup #regPasswordConfirm": "checkPasswordConfirm",
				"keyup #regCaptcha": "clearCaptcha",
				"click #regAgree": "clearAgree",
			},
			initialize: function() {
				this.field = {
					name: this.$('#regUsernameField'),
					email: this.$('#regEmailField'),
					password: this.$('#regPasswordField'),
					passwordConfirm: this.$('#regPasswordConfirmField'),
					captcha: this.$('#regCaptchaField'),
					agree: this.$('#regAgreeField')
				}
				
				this.input = {
					name: this.$('#regUsername'),
					email: this.$('#regEmail'),
					password: this.$('#regPassword'),
					passwordConfirm: this.$('#regPasswordConfirm'),
					captcha: this.$('#regCaptcha'),
					agree: this.$('#regAgree')
				}
				
				this.$regBtn = this.$('#registerBtn');
			},
			showError: function(fieldName, msg){
				var $field = this.field[fieldName];
				if(!$field){return;}
				$field.addClass('has-error');
				if(msg){$field.find('.msg-error').text(msg);}
			},
			clearError: function(fieldName){
				var $field = this.field[fieldName];
				$field.removeClass('has-error');
				$field.find('.msg-error').text('');
			},
			clearAgree: function(){
				this.clearError('agree');
			},
			clearCaptcha: function(){
				this.clearError('captcha');
			},
			checkEmail: function(){
				var view = this;
				var email = this.input.email.val();
				if(email.length == 0){
					this.clearError('email');
					return;
				}
				$.getJSON('accounts/check-email', {email: email})
				.done(function(data){
					if(data.status == 'ERROR'){
						view.showError('email',data.msg);
					}else{
						view.clearError('email');
					}
				});
			},
			checkUsername:function(){
				var view = this;
				var name = this.input.name.val();
				var $nameField = this.$nameField;
				if(name.length == 0){
					this.clearError('name');
					return;
				}else if(name.length > 20){
					view.showError('name', '名稱太長');
					return;
				}
				$.getJSON('accounts/check-name', {name:name}).done(function(data){
					if(data.status == 'ERROR'){
						view.showError('name', data.msg);
					}else{
						view.clearError('name');
					}
				});
			},
			checkPassword:function(){
				var password = this.input.password.val();
				var length = password.length;
				if(length > 0 && length < 8){
					this.showError('password', '密碼長度太短');
				}else if(length > 16){
					this.showError('password', '密碼長度太長');
				}else{
					this.clearError('password');
				}
			},
			checkPasswordConfirm:function(){
				var password = this.input.password.val();
				var passwordConfirm = this.input.passwordConfirm.val();
				
				if(password != passwordConfirm){
					this.showError('passwordConfirm', '密碼不符');
				}else{
					this.clearError('passwordConfirm');
				}
			},
			showModal: function() {
				this.getCaptcha();
				this.input.name.val("");
				this.input.email.val("");
				this.input.password.val("");
				this.input.passwordConfirm.val("");
				this.input.captcha.val();
				this.input.agree.prop("checked",false);
				this.$('.error').removeClass('error');
				this.$('.msg-error').text('');
			},
			getCaptcha: function(){
				var d = new Date();
				$("#regCaptchaImage").attr("src", "accounts/captcha?"+d.getTime());
				this.input.captcha.val('');
			},
			register: function() {
				var view = this;
				var name = this.input.name.val();
				var email = this.input.email.val();
				var password = this.input.password.val();
				var captcha = this.input.captcha.val();
				var agree = this.input.agree.prop("checked");
				
				if(this.$('.error').length != 0){
					return;
				}else if(email.length == 0){
					this.showError('email', '請輸入帳號');
					return;
				}else if(name.length == 0){
					this.showError('name', '請輸入名稱');
					return;
				}else if(password.length == 0){
					this.showError('password', '請輸入密碼');
					return;
				}else if(captcha.length == 0){
					this.showError('captcha', '請輸入驗證碼');
					return;
				}else if(!agree){
					this.showError('agree');
					return;
				}
				
				var $regBtn = this.$regBtn;
				$regBtn.button('loading');
				
				$regBtn.prop('disabled', true);
				$.post('accounts/create-user',{name:name,email:email,password:password,captcha:captcha},'json')
				.done(function(data){
					$regBtn.prop('disabled', false);
					$regBtn.button('reset');
					console.log(data);
					if(data.status == 'OK'){
						view.$el.modal('hide');
						loginUser.fetch();
						msgbox('註冊成功!! 認證信已發送至'+email);
						return;
					}
					
					for(var fieldName in data){
						if(fieldName == 'captcha'){
							view.getCaptcha();
						}
						view.showError(fieldName, data[fieldName]);
					}
					
				}).fail(function(){
					$regBtn.prop('disabled', false);
					$regBtn.button('reset');
					alert('註冊失敗!');
				});
			},
			render: function() {
				
			}
		});
		
		var settingView = Backbone.View.extend({
			el:$('#settingModal'),
			events:{
				'click #photo-edit':'openPhotoPage',
				'click #email-edit':'openEmailPage',
				'click #name-edit':'openNamePage',
				'click #password-edit':'openPasswordPage',
				'click #newphoto-panel .btn':'changePhoto',
				'click #newpass-panel .btn':'changePassword',
				
				'click #collapseAccount .btn-submit':'sendVerifyEmail',
			},
			initialize: function() {
				this.listenTo(loginUser, 'change', this.updateUser);
			},
			openPhotoPage: function(){
				$("#newphoto-panel").toggle();
			},
			openEmailPage: function(){
				$("#oldemail-panel").toggle();
				$("#newemail-panel").toggle();
			},
			openNamePage: function(){
				$("#oldname-panel").toggle();
				$("#newname-panel").toggle();
			},
			openPasswordPage: function(){
				$("#oldpass-panel").toggle();
				$("#newpass-panel").toggle();
			},
			changePassword: function(){
				var thisView = this;
				var password = this.$('#settingPassword').val();
				var newPassword = this.$('#settingNewPassword').val();
				var newPassword2 = this.$('#settingNewPassword2').val();
				if (newPassword !== newPassword2){
					alert('新密碼不相符!');
					return
				}
				$.post('accounts/password',{password:password,newpassword:newPassword})
				.done(function(data){
					alert('修改完成!')
					thisView.$('#settingPassword').val('');
					thisView.$('#settingNewPassword').val('');
					thisView.$('#settingNewPassword2').val('');
				}).fail(function(a,b){
					console.log(a)
					console.log(b)
					alert('密碼錯誤!');
				});
			},
			sendVerifyEmail: function(){
				$.post('accounts/send-verify-email',{})
				.done(function(){
					alert('認證信已發送');
				}).fail(function(){
					alert('認證信發送失敗 請稍後再試');
				});
			},
			changePhoto: function(){
				alert('change photo');
			},
			updateUser: function(){
				console.log(loginUser)
				var email = loginUser.get('email');
				var name = loginUser.get('name');
				this.$('#oldemail').html(email);
				this.$('#oldname').html(name);
			}
		})
		
		var navBarView = Backbone.View.extend({
			el:$('#navBar'),
			events: {
				"click #logoutBtn": "logout",
			},
			initialize: function() {
				this.$userNav = this.$("#userNav");
				this.$guestNav = this.$("#guestNav");
				this.guestMode();
				
				this.listenTo(loginUser, 'change', this.changeMode);
				
			},
			changeMode: function(){
				if(loginUser.get('name') == 'guest'){
					this.guestMode();
				}else{
					this.userMode(loginUser);
				}
				console.log('changeMode');
				console.log(loginUser);
			},
			logout: function(){
				$.get('accounts/logout').done(function(data) {
					loginUser.fetch();
				}).fail(function(){
					alert('登出失敗!');
				});
			},
			guestMode: function(){
				this.$userNav.hide();
				this.$guestNav.show();
			},
			userMode: function(user){
				this.$userNav.show().find('#navUsername').text(user.get('name'));
				this.$guestNav.hide();
			}
		});
		
		var infoEmailView = Backbone.View.extend({
			el:$('#infoEmailModal'),
			initialize: function() {
			},
			events: {
				"click #sendVerifyEmail": "sendVerifyEmail",
			},
			sendVerifyEmail: function(){
				$.post('accounts/send-verify-email',{})
				.done(function(){
					alert('認證信已發送');
				}).fail(function(){
					alert('認證信發送失敗 請稍後再試');
				});
			}
		});
		
		function confirm(message,func){
			var $modal= $(
				'<div class="modal fade" tabindex="-1">\
					<div class="modal-dialog">\
						<div class="modal-content">\
							<div class="modal-header">\
								<h4 class="modal-title">確認</h4>\
							</div>\
							<div class="modal-body">\
								<div class="btn-confirm-message"></div>\
							</div>\
							<div class="modal-footer">\
								<button class="btn btn-default btn-confirm-cancel">取消</button>\
								<button class="btn btn-primary btn-confirm-ok">確定</button>\
							</div>\
						</div>\
					</div>\
				</div>').modal('show');
			console.log($modal);
			var $msg = $modal.find('.btn-confirm-message').text(message);
			var $ok = $modal.find('.btn-confirm-ok').click(function(){
				$modal.on('hidden.bs.modal',function(){
					$modal.remove();
					$modal = null;
				}).modal('hide');
				func(true);
			});
			
			var $cancel = $modal.find('.btn-confirm-cancel').click(function(){
				$modal.on('hidden.bs.modal',function(){
					$modal.remove();
					$modal = null;
				}).modal('hide');
				func(false);
			});
		}
		
		function msgbox(message){
			var $modal= $(
				'<div class="modal fade" tabindex="-1">\
					<div class="modal-dialog">\
						<div class="modal-content">\
							<div class="modal-header">\
								<h4 class="modal-title">確認</h4>\
							</div>\
							<div class="modal-body">\
								<div class="btn-confirm-message"></div>\
							</div>\
							<div class="modal-footer">\
								<button class="btn btn-primary btn-confirm-ok">確定</button>\
							</div>\
						</div>\
					</div>\
				</div>').modal('show');
			console.log($modal);
			var $msg = $modal.find('.btn-confirm-message').text(message);
			var $ok = $modal.find('.btn-confirm-ok').click(function(){
				$modal.on('hidden.bs.modal',function(){
					$modal.remove();
					$modal = null;
				}).modal('hide');
			});
		}
		
			$(function(){
			

				/*
				$("#shopAddress").change(function(){
					//重新定位地圖位置與標記點位置
					var address = $(this).val();
					var geocoder = new google.maps.Geocoder();
					geocoder.geocode(
						{'address':address},
						function (results,status) {
							if(status==google.maps.GeocoderStatus.OK) {
								console.log(results[0].geometry.location);
								var LatLng = results[0].geometry.location;
								map.setCenter(LatLng);  //將地圖中心定位到查詢結果
								marker.setPosition(LatLng); //將標記點定位到查詢結果
								marker.setTitle(address); //重新設定標記點的title
								//$("#SearchLatLng").html("【您輸入的地址位置】緯度：" + LatLng.lat() + "經度：" + LatLng.lng());
							}
						}
					); 
				});
				*/
				function initialize() {
					var initlatlng = new google.maps.LatLng(25.056220142845, 121.54178450802);
					var mapOptions = {
						center: initlatlng,
						zoom: 14,
						mapTypeId: google.maps.MapTypeId.ROADMAP
					};
					var map = new google.maps.Map(document.getElementById("mapPanel"), mapOptions);
					var noPoi = [{
						featureType: "poi",
						stylers: [{ visibility: "off" }]
					}];
					map.setOptions({styles: noPoi});
					
					
				}
				initialize();
				
				var navBar = new navBarView();
				var loginModal = new loginModalView({navBar:navBar});
				var regModal = new regModalView({navBar:navBar});
				var settingModal = new settingView();
				var sellerPanel = new sellerPanelView();
				var createItemPanel = new createItemPanelView();
				var shopMadal = new shopModalView();
				var infoEmailModal = new infoEmailView();
				loginUser.fetch();
				
			});
		</script>
	</body>
</html>
