.tool-bar{
	margin:0 0 10px 0;
}

#myItemsPanel{
	width:100%;
}

.items{
	list-style-type: none;
	margin:0;
}

/*Items list*/
.items.items-list{
	
}

.items.items-list .item{
	position:relative;
	height:100px;
	margin:0 0 20px 0;
	padding:5px;
	border: 1px solid #EEEEEE;
}

.items.items-list .item .img{
	position:absolute;
	top:0px;
	left:0px;
}

.items.items-list .item .title{
	position:absolute;
	top:0px;
	left:180px;
}

.items.items-list .item .price{
	position:absolute;
	top:30px;
	left:180px;
}

.items.items-list .item .category{
	position:absolute;
	top:60px;
	left:180px;
}

.items.items-list .item .attribute{
	position:absolute;
	top:0px;
	left:360px;
	width:30px;
}

.items.items-list .item .description{
	position:absolute;
	top:0px;
	left:450px;
}

/*Items table*/
.items.items-table{
	display: inline-block;
}

.items.items-table .item{
	float:left;
	position:relative;
	width:180px;
	height:180px;
	margin:0px 20px 20px 0px;
	padding:5px;
	border: 1px solid #EEEEEE;
}

.items.items-table .item .img{
	position:absolute;
	top:10px;
	left:10px;
}

.items.items-table .item .title{
	position:absolute;
	top:100px;
	left:0px;
}

.items.items-table .item .price{
	position:absolute;
	top:120px;
	left:0px;
}

.items.items-table .item .category{
	position:absolute;
	top:140px;
	left:0px;
}

.items.items-table .item .attribute{
	position:absolute;
	top:0px;
	left:0px;
	width:0px;
}

.items.items-table .item .description{
	position:absolute;
	top:0px;
	left:0px;
}